/**
* Name: Soporte Apple Mac
* Author: Hermes Palencia
*/

/*=============== UI KIT ================*/

/* Reset */
html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  
  *, *:before, *:after {
  box-sizing: inherit;
  }
  
  body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  }

// VARIABLES

// Font
// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

  $primary-font-family:'Source Sans Pro', sans-serif !default;
  $secondary-font-family:'Source Sans Pro', sans-serif;
  $font-weight-general:400 !default;

// Color
  $primary-color: #1d1d1f;
  $secondary-color: #06c;

// Therme-Color
  $dark: #1d1d1f;
  $info: #17a2b8;
  $success: #198754;
  $danger: #ff0000;
  $warning: #ffc107;
  $gray: #f2f2f7;
  $p-color: #86868b;
  $link-color:#06c;

  $theme-colors: (
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "gray":       $gray,
  "dark":       $dark
  );

// Paragraph styles
  $font-h1: 4rem;
  $font-h2: 3.2rem;
  $font-h3: 2.8rem;
  $font-h4: 2.4rem;
  $font-h5: 2rem;
  $font-h6: 1.6rem;



