@charset "UTF-8";
/**
* Name: Soporte Apple Mac
* Author: Hermes Palencia
*/
/*=============== UI KIT ================*/
/* Reset */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*=================== CUSTOM ==========================*/
/* Paragraph styles */
body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.2;
  margin: 0;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-size: 3.2rem;
  font-weight: 700;
}

h3 {
  font-size: 2.8rem;
  font-weight: 600;
}

h4 {
  font-size: 2.4rem;
  font-weight: 600;
}

h5 {
  font-size: 2rem;
  font-weight: 500;
}

h6 {
  font-size: 1.6rem;
  font-weight: 500;
}

p {
  color: #86868b;
}

ul {
  list-style-position: inside;
}

a {
  text-decoration: none;
}

/* Font color */
.hp-text-primary {
  color: #1d1d1f;
}

.hp-text-secondary {
  color: #06c;
}

.hp-text-white {
  color: white;
}

.hp-hr-primary {
  border: 2px solid #1d1d1f;
  width: 7vw;
  margin-top: 15px;
}

/* Text Aling */
.hp-textAlign-center {
  text-align: center;
}

/* background */
.hp-bg-primary {
  background-color: #1d1d1f;
}

.hp-bg-secondary {
  background-color: #06c;
}

.hp-bg-gray {
  background-color: #f2f2f7;
}

/* img */
.hp-img-fluid {
  max-width: 100%;
  height: auto;
  min-height: 100%;
}

/* Marging - Padding  */
.hp-m-0 {
  margin: 0;
}

.hp-m-20 {
  margin: 2rem;
}

.hp-p {
  padding: 5rem 10rem;
}

.hp-p-20 {
  padding: 2rem;
}

.hp-px-20 {
  padding: 0px 2rem;
}

.hp-py-20 {
  padding: 2rem 0px;
}

.hp-py-10 {
  padding: 1rem 0px;
}

.hp-px-10 {
  padding: 0px 1rem;
}

.hp-gap-10 {
  gap: 0.4rem;
}

.hp-prCol {
  padding: 5rem 5rem 5rem 10rem;
}

.hp-plCol {
  padding: 5rem 10rem 5rem 5rem;
}

/* Layout - Flexbox */
.hp-container-fluid {
  width: 100%;
}

.hp-row, .hp-row--reverse {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
}

.hp-row--reverse {
  flex-direction: row;
}

.hp-col {
  flex: 1 0 0%;
}

.hp-d-flex {
  display: flex !important;
}

.hp-grid {
  display: grid;
}

.hp-d-none {
  display: none;
}

.hp-justifyContent-center {
  justify-content: center;
}

.hp-align-center {
  align-items: center;
}

.hp-align-stretch {
  align-items: stretch;
}

.hp-float-right {
  float: right;
}

.hp-w100 {
  width: 100%;
  max-width: 100%;
}

.hp-w50 {
  width: 50%;
}

.hp-w25 {
  width: 25%;
}

/* Button - Link */
.hp-btn {
  border: none;
  border-radius: 3.2rem;
  padding: 0.6rem 1.6rem;
  cursor: pointer;
  border-style: none;
  font-size: inherit;
  font-weight: inherit;
}
.hp-btn a {
  color: inherit;
  text-decoration: inherit;
}

.hp-btn-primary {
  color: #fff;
  background-color: #06c;
}
.hp-btn-primary:hover {
  background-color: #0059b3;
  color: #fff;
}
.hp-btn-primary a:hover {
  color: inherit;
  text-decoration: none;
}

.hp-btn-outline-primary {
  color: #06c;
  background-color: transparent;
  border: 0.1rem solid #06c;
}
.hp-btn-outline-primary:hover {
  background-color: #06c;
  color: #fff;
}
.hp-btn-outline-primary a:hover {
  color: inherit;
  text-decoration: none;
}

.hp-btn-secondary {
  color: #fff;
  background-color: #1d1d1f;
}
.hp-btn-secondary:hover {
  background-color: #06c;
  color: #fff;
}
.hp-btn-secondary a:hover {
  color: inherit;
  text-decoration: none;
}

.hp-btn-outline-secondary {
  color: #1d1d1f;
  background-color: transparent;
  border: 0.1rem solid #1d1d1f;
}
.hp-btn-outline-secondary:hover {
  background-color: #1d1d1f;
  color: #fff;
}
.hp-btn-outline-secondary a:hover {
  color: inherit;
  text-decoration: none;
}

.hp-link {
  text-decoration: none;
  color: #06c;
}
.hp-link:hover {
  color: #0059b3;
  text-decoration: underline;
}

/* Form */
.hp-alert {
  position: relative;
  padding: 20px;
  margin: 20px 0px;
}

.hp-alert--danger {
  color: "danger";
  background-color: #f8d7dabd;
  border-color: #f5c2c7;
}

.hp-alert--success {
  color: "success";
  background-color: #d1e7dd94;
  border-color: #badbcc;
}

/* Header - Navbar */
.hp-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 0px 10rem;
  background-color: #1d1d1f;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navBar img {
  width: 6.4rem;
  cursor: pointer;
}

.navBar__link {
  display: flex;
  padding: 0;
}
.navBar__link li {
  border-radius: 3.2rem;
  padding: 0.3rem 1.6rem;
  margin: 0.2rem;
  list-style-type: none;
  transition: 0.3s;
}
.navBar__link li:hover {
  background-color: #06c;
  color: #fff;
}
.navBar__link a {
  font-size: inherit;
  text-decoration: none;
  color: #fff;
}
.navBar__link .active {
  background-color: #06c;
  color: #fff;
}

.navBar__link.active {
  display: flex;
  animation: showToggle 350ms ease-in-out both;
}

.toggle {
  display: none;
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin: 1rem;
  padding: 0;
}
.toggle span {
  background-color: #fff;
  display: block;
  height: 0.2rem;
  width: 3.8rem;
  margin: 1rem auto;
  border-radius: 0.2rem;
}
.toggle .rotate:hover {
  transform: rotate(360deg);
}

/* Animaciones NavBar */
@keyframes showToggle {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.br-1.animated {
  transform: rotate(-45deg) translate(-1rem, 0.8rem);
}

.br-2.animated {
  opacity: 0;
}

.br-3.animated {
  transform: rotate(45deg) translate(-1rem, -0.8rem);
}

/* Footer */
.hp-footer {
  clear: both;
  align-items: center;
}
.hp-footer img {
  width: 6.4rem;
  cursor: pointer;
}
.hp-footer address {
  text-align: end;
}
.hp-footer address ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.hp-footer address i {
  padding: 0.5rem;
}
.hp-footer address a {
  color: #1d1d1f;
  text-decoration: none;
}
.hp-footer address a:hover {
  color: #06c;
  text-decoration: underline;
}

/* Float Whatsapp */
.hp-btn-whatsapp {
  display: block;
  position: fixed;
  left: 1.5rem;
  bottom: 1.5rem;
  text-align: left;
  z-index: 999;
}

/* Pages - Components */
.hp-bg-hero {
  min-height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.hp-accordion {
  background-color: #f2f2f7;
  color: #1d1d1f;
  font-size: 1.6rem;
  cursor: pointer;
  padding: 2rem;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.1s;
}
.hp-accordion:hover {
  background-color: #f2f2f7;
}
.hp-accordion:after {
  content: "+";
  color: #1d1d1f;
  float: right;
  margin-left: 1rem;
}
.hp-accordion.active:after {
  content: "−";
}
.hp-accordion .active {
  background-color: #f2f2f7;
}

.hp-accordion--panel {
  padding: 0 2rem;
  border: 1px solid #f2f2f7;
  background-color: white;
  display: none;
  overflow: hidden;
}

/* Inicio - Hero */
.img-hero {
  min-height: 90vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url(../img/soporteapplemac-home-hero.jpg) no-repeat center center;
  background-size: cover;
  color: #fff;
}
.img-hero p {
  color: white;
}

/* Inicio - Nosotros */
.nosotros {
  min-height: 50vh;
  width: auto;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.transition__years {
  margin-top: -2rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  width: 10rem;
  height: 5rem;
  background: #1d1d1f;
  color: white;
  transition: width 2s;
}

.transition__years:hover {
  width: 300px;
}

/* Inicio - Equipos Soportados */
.equipos-soportados {
  background-color: #1d1d1f;
  background-image: linear-gradient(#1d1d1f, #615c5c);
  box-sizing: cover;
  color: #fff;
  text-align: center;
}

.hp-grid__equipos {
  gap: 4rem;
  grid-auto-rows: 10rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  padding-bottom: 3rem;
}
.hp-grid__equipos img {
  width: 4.8rem;
  height: 5.4rem;
  min-height: 5.4rem;
}

/* Inicio - Vias de reparacion */
.vias-reparacion i {
  font-size: 4rem;
}
.vias-reparacion .hp-col {
  padding: 2rem;
}

/* Pagina Nosotros */
.hp-bg-hero__nosotros {
  background-image: url(../img/soporteapplemac-nosotros-01.jpg);
}

.table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}
.table th {
  border: 0.1rem solid #f2f2f7;
  padding: 1rem;
  background-color: #ffc107;
  color: #1d1d1f;
}
.table td {
  border: 0.1rem solid #f2f2f7;
  padding: 1rem;
}
.table td ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Pagina Fallas Comunes */
.hp-bg-hero__fallasComunes {
  background-image: url(../img/soporteapplemac-fallas-comunes-01.jpg);
}

.fallasComunes {
  text-align: center;
  color: white;
}
.fallasComunes p {
  color: white;
}

.hp-grid__fallasComunes {
  gap: 4rem;
  grid-auto-rows: 10rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  padding-bottom: 3rem;
}
.hp-grid__fallasComunes img {
  width: 4.8rem;
  height: 5.4rem;
  min-height: 5.4rem;
}

.fallasComunes-os {
  min-height: 100vh;
  background: url(../img/soporteapplemac-fallas-comunes-02.jpg) no-repeat center right;
  background-size: cover;
}

/* Pagina Equipos soportados */
.hp-bg-hero__equiposSoportados {
  background-image: url(../img/soporteapplemac-equipos-soportados-01.jpg);
}

.hp-grid__equiposSoprtados {
  gap: 4rem;
  grid-auto-rows: 10rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  padding-bottom: 3rem;
}
.hp-grid__equiposSoprtados img {
  width: 4.8rem;
  height: 5.4rem;
  min-height: 5.4rem;
}

/* Pagina Contacto */
.hp-bg-hero__contacto {
  background-image: url(../img/soporteapplemac-contacto-01.jpg);
}

.contacto {
  text-align: center;
}
.contacto ul {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.contacto ul li {
  padding: 3rem;
}
.contacto i {
  font-size: 3rem;
  padding: 0.5rem;
}
.contacto a {
  color: #1d1d1f;
  text-decoration: none;
}
.contacto a:hover {
  color: #06c;
  text-decoration: underline;
}

.contacto-form {
  width: 100%;
  margin: auto;
  padding: 1rem;
}
.contacto-form select {
  height: 4rem;
}
.contacto-form button {
  margin-top: 1rem;
}
.contacto-form label {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  margin: auto 0;
}

.contacto-form--input {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid #1d1d1f;
  background-color: inherit;
  color: #1d1d1f;
  border-radius: 0.4rem;
  box-sizing: border-box;
  margin: 0.4rem 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.contacto-form--input:focus {
  border: 0.1rem solid #06c;
}

.contacto-form--radio {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  margin: auto 0;
}

/* Breakpoints */
/* Small devices (Desktop, less than 1024px) */
@media (max-width: 1024px) {
  .hp-header {
    padding: 0px;
  }
  .hp-header img {
    margin-left: 5rem;
  }

  .navBar {
    flex-direction: column;
    align-items: flex-start;
    padding: 25px 0px;
  }

  .navBar__link {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 92vh;
    margin: 0;
    padding: 0;
    display: none;
    opacity: 0;
    transition: opacity 5s ease-out;
    width: 100%;
  }
  .navBar__link li {
    text-align: center;
    width: 100%;
    padding: 2rem;
  }

  .toggle {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 2.5rem;
    right: 5rem;
    transition: 0.2s 0.1s;
  }
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
  .hp-row, .hp-row--reverse {
    flex-direction: column;
  }

  .hp-row--reverse {
    flex-direction: column-reverse;
  }

  .hp-p {
    padding: 5rem;
  }

  .hp-prCol {
    padding: 5rem 5rem 2rem 5rem;
  }

  .hp-plCol {
    padding: 5rem 10rem 5rem 5rem;
  }

  .hp-footer {
    text-align: center;
  }
  .hp-footer address {
    text-align: center;
  }
  .hp-footer address li {
    display: inline-block;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .table {
    width: 100%;
  }

  .contacto ul li {
    padding: 0.5rem;
  }
}
/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
  .hp-p {
    padding: 5rem 2rem;
  }

  .hp-prCol {
    padding: 5rem 2rem;
  }

  .hp-plCol {
    padding: 5rem 2rem;
  }

  .hp-header {
    padding: 0px;
  }
  .hp-header img {
    margin-left: 2rem;
  }

  .toggle {
    right: 2rem;
  }
}

/*# sourceMappingURL=main.css.map */
