@use 'global';

/*=================== CUSTOM ==========================*/
/* Paragraph styles */

body{
    font-family: global.$primary-font-family;
    font-weight: global.$font-weight-general;
    line-height: 1.6;
    font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6{
    font-family: global.$primary-font-family;
    line-height: 1.2;
    margin: 0;
  }

  h1{
    font-size: global.$font-h1;
    font-weight: 700;
  }
  
  h2{
    font-size: global.$font-h2;
    font-weight: 700;
  }
  
  h3{
    font-size: global.$font-h3;
    font-weight: 600;
  }
  
  h4{
    font-size: global.$font-h4;
    font-weight: 600;
  }
  
  h5{
    font-size: global.$font-h5;
    font-weight: 500;
  }
  
  h6{
    font-size: global.$font-h6;
    font-weight: 500;
  }

  p{
    color: global.$p-color;
  }
  
  ul{
    list-style-position: inside;
  }
  
  a{
    text-decoration: none;
  }

/* Font color */

.hp-text-primary{
  color:global.$primary-color;
}

.hp-text-secondary{
  color:global.$secondary-color;
}

.hp-text-white{
  color: white;
}

.hp-hr-primary{
  border: 2px solid global.$primary-color;
  width: 7vw;
  margin-top: 15px;
}

/* Text Aling */

.hp-textAlign-center{
  text-align: center;
}

/* background */

.hp-bg-primary{
  background-color: global.$primary-color;
}

.hp-bg-secondary{
  background-color: global.$secondary-color;
}

.hp-bg-gray{
  background-color: global.$gray;
}

/* img */
.hp-img-fluid{
  max-width: 100%; 
  height: auto;
  min-height: 100%;
}  

/* Marging - Padding  */

.hp-m-0{
  margin: 0;
}

.hp-m-20{
  margin: 2rem;
}

.hp-p{
  padding: 5rem 10rem;
}

.hp-p-20{
  padding: 2rem;
}

.hp-px-20{
  padding: 0px 2rem;
}

.hp-py-20{
  padding: 2rem 0px;
}

.hp-py-10{
  padding: 1rem 0px;
}

.hp-px-10{
  padding: 0px 1rem;
}

.hp-gap-10{
  gap: .4rem;
}

.hp-prCol{
  padding: 5rem 5rem 5rem 10rem ;
}

.hp-plCol{
  padding: 5rem 10rem 5rem 5rem ;
}

/* Layout - Flexbox */

.hp-container-fluid {
  width: 100%;
}

.hp-row{
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

.hp-row--reverse{
  @extend .hp-row;
  flex-direction: row;
}

.hp-col{
  flex: 1 0 0%;
}

.hp-d-flex {
  display: flex!important;
}

.hp-grid{
  display: grid;
}

.hp-d-none{
  display: none;
}

.hp-justifyContent-center{
  justify-content: center;
}

.hp-align-center{
  align-items: center;
}

.hp-align-stretch{
  align-items: stretch;
}

.hp-float-right{
  float: right;
}

.hp-w100{
  width: 100%;
  max-width: 100%;
}

.hp-w50{
  width: 50%;
}

.hp-w25{
  width: 25%;
}

/* Button - Link */

.hp-btn{
  border: none;
  border-radius: 3.2rem;
  padding: .6rem 1.6rem;
  cursor: pointer;
  border-style: none;
  font-size: inherit;
  font-weight: inherit;
  a{
      color: inherit;
      text-decoration: inherit;
    }
}

.hp-btn-primary{
  color: #fff;
  background-color: global.$secondary-color;
  &:hover{
      background-color: darken(global.$secondary-color, 5%);
      color:#fff;
  }
  a:hover{
      color:inherit;
      text-decoration: none;
  }
}

.hp-btn-outline-primary{
  color: global.$secondary-color;
  background-color: transparent;
  border: .1rem solid global.$secondary-color;
  &:hover{
      background-color: global.$secondary-color;
      color:#fff;
  }
  a:hover{
      color:inherit;
      text-decoration: none;
  }
}

.hp-btn-secondary{
  color: #fff;
  background-color: global.$primary-color;
  &:hover{
      background-color: global.$secondary-color;
      color:#fff;
  }
  a:hover{
      color:inherit;
      text-decoration: none;
  }
}

.hp-btn-outline-secondary{
color: global.$primary-color;
background-color: transparent;
border: .1rem solid global.$primary-color;
&:hover{
    background-color: global.$primary-color;
    color:#fff;
}
a:hover{
    color:inherit;
    text-decoration: none;
}
}

.hp-link{
  text-decoration: none;
  color: global.$secondary-color;
  &:hover{
  color: darken(global.$secondary-color, 5%);
  text-decoration: underline;
  }
}

 /* Form */

.hp-alert{
  position: relative;
  padding: 2rem;
  margin: 2rem 0rem;
}

.hp-alert--danger{
  color: "danger";
  background-color: #f8d7dabd;
  border-color: #f5c2c7;
}

.hp-alert--success {
  color: "success";
  background-color: #d1e7dd94;
  border-color: #badbcc;
}

/* Header - Navbar */

.hp-header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 0px 10rem;
  background-color: global.$primary-color;
}

.navBar{
  display: flex;
  align-items:center;
  justify-content: space-between;
  img{
    width: 6.4rem;
    cursor: pointer;
  }
}

.navBar__link{
  display:flex;
  padding:0;
  li{
      border-radius: 3.2rem;
      padding: .3rem 1.6rem;
      margin: .2rem;
      list-style-type: none;
      transition: 0.3s;
      &:hover{
          background-color: global.$secondary-color;
          color:#fff;
          }
    }
  a{
  font-size: inherit;
  text-decoration:none;
  color:#fff;
  }
  .active{
      background-color: global.$secondary-color;
      color:#fff;
  }
}

.navBar__link.active {
  display: flex;
  animation: showToggle 350ms ease-in-out both;
}

.toggle{
  display:none;
  background-color:transparent;
  cursor: pointer;
  border:none;
  margin:1rem;
  padding:0;
  span{
      background-color: #fff;
      display:block;
      height: .2rem;
      width: 3.8rem;
      margin: 1rem auto;
      border-radius:.2rem;    
    }
  .rotate:hover{
      transform:rotate(360deg);
    }
  }

/* Animaciones NavBar */
  
@keyframes showToggle {
  from {opacity: 0;}
  to {opacity: 1;}
}

.br-1.animated{
  transform: rotate(-45deg) translate(-1rem, .8rem);
}

.br-2.animated{
  opacity: 0;
}

.br-3.animated{
  transform: rotate(45deg) translate(-1rem, -.8rem);
}

/* Footer */

.hp-footer{
  clear: both;
  align-items: center;
  img{
    width: 6.4rem;
    cursor: pointer;
  }
  address{
    text-align: end;
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    i{
      padding: .5rem;
    }
    a{
      color: global.$primary-color;
      text-decoration: none;
      &:hover{
        color: global.$secondary-color;
        text-decoration: underline;
        }
    }
  }

}

/* Float Whatsapp */
.hp-btn-whatsapp{
  display:block;
  position: fixed;
  left:1.5rem;
  bottom:1.5rem;
  text-align:left;
  z-index:999;
}

/* Pages - Components */

// Hero
.hp-bg-hero{
  min-height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

// Accordion
.hp-accordion{
  background-color: global.$gray;
  color: global.$primary-color;
  font-size: 1.6rem;
  cursor: pointer;
  padding: 2rem;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.1s;
  &:hover {
    background-color: global.$gray;
  }
  &:after {
    content: '\002B';
    color: global.$primary-color;
    float: right;
    margin-left: 1rem;
  }
  &.active:after {
    content: "\2212";
  }
  .active{
    background-color: global.$gray;
  }
}

.hp-accordion--panel{
  padding: 0 2rem;
  border: 1px solid global.$gray;
  background-color: white;
  display: none;
  overflow: hidden;
}

/* Inicio - Hero */

.img-hero{
  min-height: 90vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url(../img/soporteapplemac-home-hero.jpg) no-repeat center center;
  background-size: cover;
  color: #fff;
  p{
    color: white;
  }
}

/* Inicio - Nosotros */

.nosotros{
  min-height: 50vh;
  width: auto;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.transition__years{
  margin-top: -2rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  width: 10rem;
  height: 5rem;
  background: global.$primary-color;
  color: white;
  transition: width 2s;
}

.transition__years:hover {
  width: 300px;
}

/* Inicio - Equipos Soportados */

.equipos-soportados{
  background-color: global.$primary-color;
  background-image: linear-gradient(global.$primary-color,rgb(97, 92, 92));
  box-sizing: cover;
  color: #fff;
  text-align: center;
}

.hp-grid__equipos{
  gap: 4rem;
  grid-auto-rows: 10rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  img{
    width: 4.8rem;
    height: 5.4rem;
    min-height: 5.4rem;
  }
  padding-bottom: 3rem;
}

/* Inicio - Vias de reparacion */

.vias-reparacion{
  i{
    font-size: 4rem;
  }
  .hp-col{
    padding: 2rem;
  }
}


/* Pagina Nosotros */
.hp-bg-hero__nosotros{
  background-image: url(../img/soporteapplemac-nosotros-01.jpg);
}

.table{
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  th{
    border: .1rem solid global.$gray;
    padding: 1rem;
    background-color:global.$warning;
    color: global.$primary-color;
  }
  td{
    border: .1rem solid global.$gray;
    padding: 1rem;
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }
}

/* Pagina Fallas Comunes */
.hp-bg-hero__fallasComunes{
  background-image: url(../img/soporteapplemac-fallas-comunes-01.jpg);
}

.fallasComunes{
  text-align: center;
  color: white;
  p{
    color: white;
  }
}

.hp-grid__fallasComunes{
  gap: 4rem;
  grid-auto-rows: 10rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  img{
    width: 4.8rem;
    height: 5.4rem;
    min-height: 5.4rem;
  }
  padding-bottom: 3rem;
}

.fallasComunes-os{
  min-height: 100vh;
  background: url(../img/soporteapplemac-fallas-comunes-02.jpg) no-repeat center right;
  background-size:cover;
}

/* Pagina Equipos soportados */
.hp-bg-hero__equiposSoportados{
  background-image: url(../img/soporteapplemac-equipos-soportados-01.jpg);
}

.hp-grid__equiposSoprtados{
  gap: 4rem;
  grid-auto-rows: 10rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  img{
    width: 4.8rem;
    height: 5.4rem;
    min-height: 5.4rem;
  }
  padding-bottom: 3rem;
}

/* Pagina Contacto */
.hp-bg-hero__contacto{
  background-image: url(../img/soporteapplemac-contacto-01.jpg);
}
.contacto{
  text-align: center;
  ul{
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li{
      padding: 3rem;
    }
  }
  i{
    font-size: 3rem;
    padding: .5rem;
  }
  a{
    color: global.$primary-color;
    text-decoration: none;
    &:hover{
      color: global.$secondary-color;
      text-decoration: underline;
      }
  }
}

.contacto-map{
  min-width: 100%;
  height: 30rem;
  border:0;
}

.contacto-form{
  width: 100%;
  margin: auto;
  padding: 1rem;
  select{
    height: 4rem;
  }
  button{
    margin-top: 1rem;
  }
  label{
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    margin: auto 0;
  }
}
.contacto-form--input{
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  width: 100%;
  padding: 1rem;
  border: .1rem solid global.$primary-color;
  background-color: inherit;
  color: global.$primary-color;
  border-radius: .4rem;
  box-sizing: border-box;
  margin: .4rem 0;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  &:focus {
    border: .1rem solid global.$secondary-color;
  }
}
.contacto-form--radio{
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  margin: auto 0;
  
}

/* Breakpoints */

/* Small devices (Desktop, less than 1024px) */
@media (max-width: 1024px) {
    .hp-header{
      padding: 0rem;
      img{
          margin-left: 5rem;
      }
    }
    .navBar{
      flex-direction:column;
      align-items: flex-start;
      padding: 2.5rem 0rem;
    }

    .navBar__link{
    flex-direction:column;
    justify-content: space-around;
    align-items:center;
    height: 92vh;         
    margin:0;
    padding:0; 
    display:none;
    opacity:0;
    transition: opacity 5s ease-out;
    width:100%;
    li{
      text-align:center;
      width:100%;
      padding:2rem;   
      }
    }

    .toggle{
      display:block;
      cursor:pointer;
      position: absolute; 
      top:2.5rem;
      right:5rem;
      transition: 0.2s  0.1s; 
    }

  }

  /* Small devices (landscape phones, less than 768px) */
  @media (max-width: 768px) {
  
    .hp-row{
      flex-direction: column;
    }
  
    .hp-row--reverse{
      flex-direction: column-reverse;
    }

    .hp-p{
        padding: 5rem;
    }
  
    .hp-prCol{
        padding: 5rem 5rem 2rem 5rem;
    }
       
    .hp-plCol{
        padding: 5rem 10rem 5rem 5rem ;
    }

    .hp-footer{
      text-align: center;
      address{
        text-align: center;
        li{
          display: inline-block;
          padding-left: .5rem;
          padding-right: .5rem;
        }
      }
    }

    .table{
      width: 100%;
    }
    .contacto{
      ul{
        li{
          padding: .5rem;
        }
      }
    }

  }
  
  /* X-Small devices (portrait phones, less than 576px) */
  @media (max-width: 576px)  {

    .hp-p{
        padding: 5rem 2rem;
    }

    .hp-prCol{
      padding: 5rem 2rem;
    }
  
    .hp-plCol{
      padding: 5rem 2rem;
    }

    .hp-header{
      padding: 0rem;
      img{
          margin-left: 2rem;
        }
    }

    .toggle{
      right:2rem;
    }

  }