@use 'global';

/*=================== CUSTOM ==========================*/
/* Paragraph styles */

body{
    font-family: global.$primary-font-family;
    font-weight: global.$font-weight-general;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6{
    font-family: global.$primary-font-family;
    line-height: 26px;
    margin: 0;
  }

  h1{
    font-size: global.$font-h1;
    font-weight: 700;
  }
  
  h2{
    font-size: global.$font-h2;
    font-weight: 700;
  }
  
  h3{
    font-size: global.$font-h3;
    font-weight: 600;
  }
  
  h4{
    font-size: global.$font-h4;
    font-weight: 600;
  }
  
  h5{
    font-size: global.$font-h5;
    font-weight: 500;
  }
  
  h6{
    font-size: global.$font-h6;
    font-weight: 500;
  }

  p{
    line-height: 28px;
    color: global.$p-color;
  }
  
  ul{
    list-style-position: inside;
  }

/* Font color */

.hp-text-primary{
  color:global.$primary-color;
}

.hp-text-secondary{
  color:global.$secondary-color;
}

.hp-text-white{
  color: white;
}

.hp-hr-primary{
  border: 2px solid global.$primary-color;
  width: 7vw;
  margin-top: 15px;
}

/* Text Aling */

.hp-textAlign-center{
  text-align: center;
}

/* background */

.hp-bg-primary{
  background-color: global.$primary-color;
}

.hp-bg-secondary{
  background-color: global.$secondary-color;
}

.hp-bg-gray{
  background-color: global.$gray;
}

/* Custom Class */

/* img */
.hp-img-fluid{
  max-width: 100%; 
  height: auto;
  min-height: 100%;
}  

/* Marging - Padding  */

.hp-m-0{
  margin: 0;
}

.hp-m-20{
  margin: 20px;
}

.hp-p{
  padding: 50px 100px;
}

.hp-p-20{
  padding: 20px;
}

.hp-px-20{
  padding: 0px 20px;
}

.hp-py-20{
  padding: 20px 0px;
}

.hp-py-10{
  padding: 10px 0px;
}

.hp-px-10{
  padding: 0px 10px;
}

.hp-gap-10{
  gap: 10px;
}

.hp-prCol{
  padding: 50px 50px 50px 100px ;
}

.hp-plCol{
  padding: 50px 100px 50px 50px ;
}

/* Layout - Flexbox */

.hp-container-fluid {
  width: 100%;
}

.hp-row{
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

.hp-row--reverse{
  @extend .hp-row;
  flex-direction: row;
}

.hp-col{
  flex: 1 0 0%;
}

.hp-d-flex {
  display: flex!important;
}

.hp-grid{
  display: grid;
}

.hp-d-none{
  display: none;
}

.hp-justifyContent-center{
  justify-content: center;
}

.hp-align-center{
  align-items: center;
}

.hp-align-stretch{
  align-items: stretch;
}

.hp-float-right{
  float: right;
}

.hp-w100{
  width: 100%;
  max-width: 100%;
}

.hp-w50{
  width: 50%;
}

.hp-w25{
  width: 25%;
}

/* Button - Link */

.hp-btn{
  border: none;
  border-radius: 32px;
  padding: 6px 16px;
  cursor: pointer;
  border-style: none;
  font-size: inherit;
  font-weight: inherit;
  a{
      color: inherit;
      text-decoration: inherit;
    }
}

.hp-btn-primary{
  color: #fff;
  background-color: global.$secondary-color;
  &:hover{
      background-color: global.$secondary-color-grandient;
      color:#fff;
  }
  a:hover{
      color:inherit;
      text-decoration: none;
  }
}

.hp-btn-outline-primary{
  color: global.$secondary-color;
  background-color: transparent;
  border: 1px solid global.$secondary-color;
  &:hover{
      background-color: global.$secondary-color;
      color:#fff;
  }
  a:hover{
      color:inherit;
      text-decoration: none;
  }
}

.hp-btn-secondary{
  color: #fff;
  background-color: global.$primary-color;
  &:hover{
      background-color: global.$secondary-color;
      color:#fff;
  }
  a:hover{
      color:inherit;
      text-decoration: none;
  }
}

.hp-btn-outline-secondary{
color: global.$primary-color;
background-color: transparent;
border: 1px solid global.$primary-color;
&:hover{
    background-color: global.$primary-color;
    color:#fff;
}
a:hover{
    color:inherit;
    text-decoration: none;
}
}

.hp-link{
  text-decoration: none;
  color: global.$secondary-color;
  &:hover{
  color: global.$secondary-color;
  text-decoration: underline;
  }
}

/* Header - Navbar */

.hp-header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 0px 100px;
  background-color: global.$primary-color;
}

.navBar{
  display: flex;
  align-items:center;
  justify-content: space-between;
  img{
    width: 64px;
    cursor: pointer;
  }
}

.navBar__link{
  display:flex;
  padding:0;
  li{
      border-radius: 32px;
      padding: 3px 16px;
      margin: 2px;
      list-style-type: none;
      transition: 0.3s;
      &:hover{
          background-color: global.$secondary-color;
          color:#fff;
          }
    }
  a{
  font-size: inherit;
  text-decoration:none;
  color:#fff;
  }
  .active{
      background-color: global.$secondary-color;
      color:#fff;
  }
}

.navBar__link.active {
  display: flex;
  animation: showToggle 350ms ease-in-out both;
}

/* Footer */

.hp-footer{
  clear: both;
  align-items: center;
  justify-content: space-between;
  img{
    width: 64px;
    cursor: pointer;
  }
  address{
    text-align: end;
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    a{
      color: global.$primary-color;
      text-decoration: none;
      &:hover{
        color: global.$secondary-color;
        text-decoration: underline;
        }
    }
  }
  .hp-col:nth-child(2){
    text-align: right;
  }
}

/* Inicio - Hero */

.img-hero{
  min-height: 85vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url(../img/img-hero-soporteapplemac.jpg) no-repeat center center;
  background-size: cover;
  color: #fff;
  p{
    color: white;
  }
}

/* Inicio - Nosotros */

.nosotros{
  min-height: 50vh;
  width: auto;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.transition__years{
  margin-top: -20px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  background: global.$primary-color;
  color: white;
  transition: width 2s;
}

.transition__years:hover {
  width: 300px;
}

/* Inicio - Equipos Soportados */

.equipos-soportados{
  background-color: global.$primary-color;
  background-image: linear-gradient(global.$primary-color,rgb(97, 92, 92));
  box-sizing: cover;
  color: #fff;
  text-align: center;
}

.hp-grid__equipos{
  gap: 10px;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(6, 1fr); 
  margin: auto;
}

/* Pagina Equipos Soportados - Grid equipos */

.hp-grid__equipos{
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-template-areas: 
      "titulo titulo titulo"
      "equipo1 equipo2 equipo3";
  text-align: center;
  .titulo{
    grid-area: auto;
    grid-column: span 3;
  }
}

/* Pagina Nosotros - Tabla */
.hp-table{
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  tr{
    border: 1px solid black;
  }
  th{
    text-align: left;
    border: 1px solid black;
    padding: 10px;
  }
  td{
    border: 1px solid black;
    padding: 10px;
  }
}

/* Pagina Fallas Comunes - Fallas */



/* Breakpoints */

  /* Small devices (landscape phones, less than 768px) */
  @media (max-width: 768px) {
  
    .hp-row{
      flex-direction: column;
    }
  
    .hp-row--reverse{
      flex-direction: column-reverse;
    }

    .hp-p{
        padding: 50px;
    }
  
    .hp-prCol{
        padding: 50px 50px 20px 50px;
    }
       
    .hp-plCol{
        padding: 50px 100px 50px 50px ;
    }
    .hp-header{
      padding: 0px;
      img{
          margin-left: 50px;
      }
    }
    .navBar{
      flex-direction:column;
      align-items: flex-start;
      padding: 25px 0px;
    }

    .navBar__link{
    flex-direction:column;
    justify-content: space-around;
    align-items:center;
    height: 92vh;         
    margin:0;
    padding:0; 
    display:none;
    opacity:0;
    transition: opacity 5s ease-out;
    width:100%;
    li{
      text-align:center;
      width:100%;
      padding:20px;   
      }
    }

    .hp-footer{
      img{
        text-align: center;
        transform: translateX(80%)
      }

      address{
        text-align: center;
      }
      .hp-col:nth-child(2){
        text-align: center;
      }
    }

  }
  
  /* X-Small devices (portrait phones, less than 576px) */
  @media (max-width: 576px)  {

    .hp-p{
        padding: 50px 20px;
    }

    .hp-prCol{
      padding: 50px 20px;
    }
  
    .hp-plCol{
      padding: 50px 20px;
    }
    .hp-header{
      padding: 0px;
      img{
          margin-left: 20px;
        }
    }

  }